.contador {
    border: 1px solid black;
    padding: 1px;
    width: 250px;
}

.botonSumar:hover{
    background-color: #28a197;
    height: auto;
    width: auto;
}

.botonRestar:hover {
    background-color: rgb(214, 97, 97);
    height: auto;
    width: auto;
}

.botonSumar {
    margin-left: 5px;
}

.botonRestar {
    margin-right: 5px;
}